<launch>

    <node 
      pkg="rosbag"
      type="play"
      name="player"
      output="screen"
      args="--clock -r 1 /home/moovita2018pc03/BagFiles/ES-FYP/2019-05-02-16-08-25.bag"
    />
    <node 
        pkg="msg_converter"
        type="encoder_to_odom.py"
        name="encoder_converter"
    />
    <node 
        pkg="msg_converter" 
        type="reframe_sensors.py" 
        name="sensor_reframer"
    />

    

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
        <rosparam command="load" file="$(find robot_localization)/params/ext_kalman_filter.yaml" />

        <!--  Placeholder for output topic remapping
        <remap from="odometry/filtered" to=""/>
        <remap from="accel/filtered" to=""/>
        -->
    </node>

    <!-- <node
        pkg="msg_converter"
        type="plot.py"
        name="plotter"
    /> -->

</launch>